* {
  overflow-x: hidden;
  padding: 0px !important;
  margin: 0px !important;
}
.v26_4 {
  width: 100%;
  height: 926px;
  background: rgba(255, 255, 255, 1);
  opacity: 1;
  position: relative;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v26_7 {
  width: 258px;
  height: 265px;
  background: rgba(255, 255, 255, 1);
  opacity: 1;
  position: absolute;
  top: 233px;
  left: 237px;
  border-top-left-radius: 40px;
  border-top-right-radius: 40px;
  border-bottom-left-radius: 40px;
  border-bottom-right-radius: 40px;
  box-shadow: 4px 4px 36px #b0acac;
  overflow: hidden;
}
.v26_54 {
  width: 258px;
  height: 265px;
  background: rgba(255, 255, 255, 1);
  opacity: 1;
  position: absolute;
  top: 587px;
  left: 237px;
  border-top-left-radius: 40px;
  border-top-right-radius: 40px;
  border-bottom-left-radius: 40px;
  border-bottom-right-radius: 40px;
  box-shadow: 4px 4px 36px #b0acac;
  overflow: hidden;
}
.v26_56 {
  width: 258px;
  height: 265px;
  background: rgba(255, 255, 255, 1);
  opacity: 1;
  position: absolute;
  top: 587px;
  left: 591px;
  border-top-left-radius: 40px;
  border-top-right-radius: 40px;
  border-bottom-left-radius: 40px;
  border-bottom-right-radius: 40px;
  box-shadow: 4px 4px 36px #b0acac;
  overflow: hidden;
}
.v26_58 {
  width: 258px;
  height: 265px;
  background: rgba(255, 255, 255, 1);
  opacity: 1;
  position: absolute;
  top: 587px;
  left: 945px;
  border-top-left-radius: 40px;
  border-top-right-radius: 40px;
  border-bottom-left-radius: 40px;
  border-bottom-right-radius: 40px;
  box-shadow: 4px 4px 36px #b0acac;
  overflow: hidden;
}
.v26_8 {
  width: 258px;
  height: 54px;
  background: rgba(255, 117, 117, 1);
  opacity: 1;
  position: absolute;
  top: 444px;
  left: 237px;
  border-top-left-radius: 40px;
  border-top-right-radius: 40px;
  border-bottom-left-radius: 40px;
  border-bottom-right-radius: 40px;
  box-shadow: 4px 4px 20px #ff7676;
  overflow: hidden;
}
.v26_55 {
  width: 258px;
  height: 54px;
  background: rgba(255, 117, 117, 1);
  opacity: 1;
  position: absolute;
  top: 798px;
  left: 237px;
  border-top-left-radius: 40px;
  border-top-right-radius: 40px;
  border-bottom-left-radius: 40px;
  border-bottom-right-radius: 40px;
  box-shadow: 4px 4px 20px #ff7676;
  overflow: hidden;
}
.v26_57 {
  width: 258px;
  height: 54px;
  background: rgba(255, 117, 117, 1);
  opacity: 1;
  position: absolute;
  top: 798px;
  left: 591px;
  border-top-left-radius: 40px;
  border-top-right-radius: 40px;
  border-bottom-left-radius: 40px;
  border-bottom-right-radius: 40px;
  box-shadow: 4px 4px 20px #ff7676;
  overflow: hidden;
}
.v26_59 {
  width: 258px;
  height: 54px;
  background: rgba(255, 117, 117, 1);
  opacity: 1;
  position: absolute;
  top: 798px;
  left: 945px;
  border-top-left-radius: 40px;
  border-top-right-radius: 40px;
  border-bottom-left-radius: 40px;
  border-bottom-right-radius: 40px;
  box-shadow: 4px 4px 20px #ff7676;
  overflow: hidden;
}
.v26_9 {
  width: 258px;
  height: 265px;
  background: rgba(255, 255, 255, 1);
  opacity: 1;
  position: absolute;
  top: 233px;
  left: 591px;
  border-top-left-radius: 40px;
  border-top-right-radius: 40px;
  border-bottom-left-radius: 40px;
  border-bottom-right-radius: 40px;
  box-shadow: 4px 4px 36px #b0acac;
  overflow: hidden;
}
.v26_48 {
  width: 258px;
  height: 265px;
  background: rgba(255, 255, 255, 1);
  opacity: 1;
  position: absolute;
  top: 233px;
  left: 945px;
  border-top-left-radius: 40px;
  border-top-right-radius: 40px;
  border-bottom-left-radius: 40px;
  border-bottom-right-radius: 40px;
  box-shadow: 4px 4px 36px #b0acac;
  overflow: hidden;
}
.v26_10 {
  width: 258px;
  height: 54px;
  background: rgba(255, 117, 117, 1);
  opacity: 1;
  position: absolute;
  top: 444px;
  left: 591px;
  border-top-left-radius: 40px;
  border-top-right-radius: 40px;
  border-bottom-left-radius: 40px;
  border-bottom-right-radius: 40px;
  box-shadow: 4px 4px 20px #ff7676;
  overflow: hidden;
}
.v26_49 {
  width: 258px;
  height: 54px;
  background: rgba(255, 117, 117, 1);
  opacity: 1;
  position: absolute;
  top: 444px;
  left: 945px;
  border-top-left-radius: 40px;
  border-top-right-radius: 40px;
  border-bottom-left-radius: 40px;
  border-bottom-right-radius: 40px;
  box-shadow: 4px 4px 20px #ff7676;
  overflow: hidden;
}
.v26_12 {
  width: 194px;
  height: 56px;
  background: rgba(176, 171, 171, 1);
  opacity: 1;
  position: absolute;
  top: 54px;
  left: 324px;
  border-top-left-radius: 50px;
  border-top-right-radius: 50px;
  border-bottom-left-radius: 50px;
  border-bottom-right-radius: 50px;
  box-shadow: 4px 4px 20px #b0acac;
  overflow: hidden;
}
.v26_13 {
  width: 195px;
  height: 56px;
  background: rgba(255, 117, 117, 1);
  opacity: 1;
  position: absolute;
  top: 54px;
  left: 537px;
  border-top-left-radius: 50px;
  border-top-right-radius: 50px;
  border-bottom-left-radius: 50px;
  border-bottom-right-radius: 50px;
  box-shadow: 4px 4px 20px #ff7676;
  overflow: hidden;
}
.v26_14 {
  width: 195px;
  height: 56px;
  background: rgba(176, 171, 171, 1);
  opacity: 1;
  position: absolute;
  top: 54px;
  left: 763px;
  border-top-left-radius: 50px;
  border-top-right-radius: 50px;
  border-bottom-left-radius: 50px;
  border-bottom-right-radius: 50px;
  box-shadow: 4px 4px 20px #b0acac;
  overflow: hidden;
}
.v26_15 {
  width: 195px;
  height: 56px;
  background: rgba(176, 171, 171, 1);
  opacity: 1;
  position: absolute;
  top: 54px;
  left: 986px;
  border-top-left-radius: 50px;
  border-top-right-radius: 50px;
  border-bottom-left-radius: 50px;
  border-bottom-right-radius: 50px;
  box-shadow: 4px 4px 20px #b0acac;
  overflow: hidden;
}
.v67_0 {
  width: 44px;
  height: 44px;
  background: url("../images/v67_0.png");
  opacity: 1;
  position: absolute;
  top: 66px;
  left: 237px;
  border-radius: 50%;
  box-shadow: 4px 4px 20px #b0acac;
}
.v26_22 {
  width: 112px;
  color: rgba(255, 255, 255, 0.6600000262260437);
  position: absolute;
  top: 70px;
  left: 394px;
  font-family: Lato;
  font-weight: Medium;
  font-size: 18px;
  opacity: 1;
  text-align: left;
}
.v26_23 {
  width: 258px;
  color: rgba(255, 255, 255, 0.6600000262260437);
  position: absolute;
  top: 454px;
  left: 237px;
  font-family: Lato;
  font-weight: Black;
  font-size: 14px;
  opacity: 1;
  text-align: center;
}
.v26_24 {
  width: 258px;
  color: rgba(255, 255, 255, 0.6600000262260437);
  position: absolute;
  top: 454px;
  left: 591px;
  font-family: Lato;
  font-weight: Black;
  font-size: 14px;
  opacity: 1;
  text-align: center;
}
.v26_25 {
  width: 136px;
  color: rgba(0, 0, 0, 0.3700000047683716);
  position: absolute;
  top: 817px;
  left: 1226px;
  font-family: Lato;
  font-weight: SemiBold;
  font-size: 12px;
  opacity: 1;
  text-align: center;
}
.v26_26 {
  width: 178px;
  color: rgba(255, 255, 255, 0.6600000262260437);
  position: absolute;
  top: 70px;
  left: 586px;
  font-family: Lato;
  font-weight: Black;
  font-size: 18px;
  opacity: 1;
  text-align: left;
}
.v26_27 {
  width: 178px;
  color: rgba(255, 255, 255, 0.6600000262260437);
  position: absolute;
  top: 70px;
  left: 830px;
  font-family: Lato;
  font-weight: Medium;
  font-size: 18px;
  opacity: 1;
  text-align: left;
}
.v26_28 {
  width: 178px;
  color: rgba(255, 255, 255, 0.7599999904632568);
  position: absolute;
  top: 70px;
  left: 1050px;
  font-family: Lato;
  font-weight: Medium;
  font-size: 18px;
  opacity: 1;
  text-align: left;
}
.v26_32 {
  width: 25px;
  height: 25px;
  background: rgba(255, 255, 255, 1);
  opacity: 1;
  position: absolute;
  top: 266px;
  left: 113px;
  box-shadow: 4px 4px 20px #ff7676;
  overflow: hidden;
}
.v26_33 {
  width: 25px;
  height: 25px;
  background: url("../images/v26_33.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: relative;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v26_34 {
  width: 25px;
  height: 25px;
  background: rgba(255, 255, 255, 1);
  opacity: 1;
  position: absolute;
  top: 340px;
  left: 113px;
  box-shadow: 4px 4px 20px #ff7676;
  overflow: hidden;
}
.v26_35 {
  width: 25px;
  height: 25px;
  background: url("../images/v26_35.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: relative;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v26_36 {
  width: 28px;
  height: 19px;
  background: rgba(255, 255, 255, 1);
  opacity: 1;
  position: absolute;
  top: 420px;
  left: 113px;
  box-shadow: 4px 4px 20px #ff7676;
  overflow: hidden;
}
.v26_37 {
  width: 28px;
  height: 19px;
  background: url("../images/v26_37.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: relative;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v26_38 {
  width: 25px;
  height: 25px;
  background: rgba(255, 255, 255, 1);
  opacity: 1;
  position: absolute;
  top: 486px;
  left: 112px;
  box-shadow: 4px 4px 20px #ff7676;
  overflow: hidden;
}
.v26_39 {
  width: 25px;
  height: 25px;
  background: url("../images/v26_39.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: relative;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v26_40 {
  width: 27px;
  height: 20px;
  background: rgba(255, 255, 255, 1);
  opacity: 1;
  position: absolute;
  top: 566px;
  left: 111px;
  box-shadow: 4px 4px 20px #ff7676;
  overflow: hidden;
}
.v26_41 {
  width: 27px;
  height: 20px;
  background: url("../images/v26_41.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v26_42 {
  width: 83px;
  height: 149px;
  background: url("../images/v26_42.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 272px;
  left: 273px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  box-shadow: 4px 4px 20px #b0acac;
  overflow: hidden;
}
.v26_43 {
  width: 80px;
  height: 154px;
  background: url("../images/v26_43.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 267px;
  left: 375px;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
  box-shadow: 4px 4px 20px #b0acac;
  overflow: hidden;
}
.v26_44 {
  width: 77px;
  height: 154px;
  background: url("../images/v26_44.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 267px;
  left: 734px;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
  box-shadow: 4px 4px 20px #b0acac;
  overflow: hidden;
}
.v26_45 {
  width: 87px;
  height: 151px;
  background: url("../images/v26_45.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 268px;
  left: 629px;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
  box-shadow: 4px 4px 20px #b0acac;
  overflow: hidden;
}
.v26_46 {
  width: 51px;
  height: 51px;
  background: rgba(255, 117, 117, 1);
  opacity: 1;
  position: absolute;
  top: 799px;
  left: 1362px;
  border-radius: 50%;
  box-shadow: 4px 4px 20px #ff7676;
}
.v26_47 {
  width: 17px;
  background: url("../images/v26_47.png");
  opacity: 1;
  position: absolute;
  top: 825px;
  left: 1379px;
  border: 2px solid rgba(255, 255, 255, 0.7400000095367432);
}
.v26_53 {
  width: 100%;
  color: rgba(176, 171, 171, 1);
  position: absolute;
  top: 181px;
  left: 249px;
  text-shadow: 4px 4px 20px
    rgba(0.4124999940395355, 0.4124999940395355, 0.4124999940395355, 0.25);
  font-family: Lato;
  font-weight: Black;
  font-size: 24px;
  opacity: 1;
  text-align: left;
}
